@charset "UTF-8";

body {
    background-color: #f0ffff;

}

.test {
    color: blue;
    font-weight: bold;

}

.tetetest {
    color: rgb(red, green, blue)
}


.background-color {
    color: white;
    background-color: midnightblue;
    margin-top: 200px;

}