@charset "UTF-8";

body {
    background-color: #f0ffff;

}

.test {
    color: blue;
    font-weight: bold;

}

.background-color {
    color: white;
    background-color: midnightblue;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;

    width: 100px;
    height: 100px;

}